= link_to_create_or_destroy_garde(garde, date, time, period)

- if garde
  %span.holiday-toggle.pull-left= render "gardes/holiday_toggle", garde: garde

  &nbsp;

  %span.candidates= render 'assignments/assignment', garde: garde
