%h2.text-center Historique des modifications de #{@garde}

- if @activities && @activities.any?
  %table.table
    %thead
      %tr
        %th Horodateur
        %th Médecin rajouté
    - @activities.order(:created_at).each do |assignment|
      %tr
        %td= l assignment.created_at, format: :long
        %td= assignment.owner
- else
  Aucune activité pour cette garde

%hr

= link_to "Retour à l'historique complet", activities_path, class: "btn btn-default"
