.jumbotron
  %h1 GardesCAP
  %p Gestion des gardes du CAP de Lyon
  %p
    = link_to "Remplir le tableau pour le prochain choix de gardes #{@period.name}", choix_path, class: "btn btn-primary btn-lg", role: "button" if @period
    = link_to "Télécharger le planning actuel", tableau_actuel_path(id: last_period.id, format: "xls"), class: "btn btn-info btn-lg", role: "button" if last_period
