%h1 Registre des modifications

- if @activities.any?
  - @activities.each do |activity|
    = div_for activity, class: "activity" do
      = render_activity activity

  %hr

  .row
    .col-lg-offset-4.col-lg-2= link_to "Vider le registre", empty_activity_path, method: :delete, class: "btn btn-danger btn-lg", data: {confirm: "Etes-vous sûr ?"} if current_user.admin?

- else
  %h2 Le registre est vide
